.inline-dropdown.react-dropdown-tree-select {
  display: inline-block;
  height: 1rem;
  .dropdown, .dropdown-trigger, .dropdown-trigger .tag-list, .dropdown-trigger .tag-item, input.search {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
  }

  .dropdown {
    .dropdown-trigger {
      border: none;
      &.arrow::after {
        margin-left: 0.2rem;
        font-size: 0.6rem;
      }
    }

    input.search {
      font-size: 1rem;
      padding: 0.5rem 0.5rem;
      border: none;

      &:focus {
        &::placeholder {
          color: #fff;
        }
      }
    }
  }

  .node {
    input.radio-item {
      display: none;
    }
  }

  &.inline-selected {
    .dropdown {
      input.search {
        &::placeholder {
          color: #fff;
        }
        &:focus {
          &::placeholder {
            color: #fff;
          }
        }
      }
    }
  }

  .dropdown-content {
    max-height: 400px;
    overflow: auto;
    text-align: left;
    box-sizing: border-box;
    .node {
      > label {
        width: 100%;
        display: block;
      }
      &:hover {
        background-color: #f3f3f3;
      }
    }
  }

  &.albania-color-scheme {
    .dropdown {
      .dropdown-trigger {
        border: none;
        border-bottom: solid 2px #4d7082;
        color: #4d7082;
        &.arrow::after {
          color: #4d7082;
          margin-left: 0.2rem;
          font-size: 0.6rem;
        }
      }
    }
  }
  &.hide-search {
    .dropdown {
      input.search {
        display: none;
      }
    }
  }
}
