.multi-tier-dropdown.react-dropdown-tree-select {
  width: 100%;

  .infinite-scroll-component  {
    overflow-x: hidden !important;
  }

  .dropdown, .dropdown-trigger, .dropdown-trigger .tag-list, .dropdown-trigger .tag-item, input.search {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
  }

  .dropdown {
    .dropdown-trigger {
      padding-left: 30px;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 30px;
        height: 100%;
        background-color: #fff;
        display: block;
        background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 19.8'%3E%3Cg class='cls-1' fill='%23666'%3E%3Cpath class='cls-2' d='M4,14,0,18l1.8,1.8,4-4A5.17,5.17,0,0,1,4,14' transform='translate(0 0)'/%3E%3Cpath class='cls-2' d='M11.7,15.2a6.92,6.92,0,0,1-6.8-7,6.77,6.77,0,0,1,6.64-6.9h.16a6.94,6.94,0,0,1,7,6.88v0a7.15,7.15,0,0,1-7,7M11.7,0A8.15,8.15,0,0,0,3.6,8.2h0a8.17,8.17,0,0,0,8,8.3h.06A8.41,8.41,0,0,0,20,8.2,8.26,8.26,0,0,0,11.7,0' transform='translate(0 0)' /%3E%3C/g%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: 5px center;
        background-size: 20px;
      }
      &.arrow::after {
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9.25 5.39'%3E%3Cpolyline stroke-width='1.2' fill='none' stroke='%23666' points='8.88 0.38 4.64 4.62 0.39 0.38'%3E%3C/polyline%3E%3C/svg%3E");
        position: absolute;
        width: 20px;
        background-color: #fff;
        padding: 0 4px;
        right: 0;
        font-size: 0.8rem;
        color: #666;
        top: 0;
        bottom: 0;
        margin: auto;
        display: flex;
        align-items: center;
        background-repeat: no-repeat;
        background-position: 5px center;
        background-size: 15px;
      }
    }

    input.search {
      font-size: 1rem;
      padding: 0.5rem 0.5rem;
      border: none;

      &::placeholder {
        text-transform: uppercase;
      }

      &:focus {
        &::placeholder {
          color: #fff;
        }
      }
    }
  }

  .searchModeOn {
    .no-select-parent {
      display: none;
    }
  }

  .node {
    position: relative;
    &.no-select-parent {
      i {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        opacity: 0;
      }
      label {
        pointer-events: none;
        &:after {
          margin-left: 0.5rem;
        }
      }
      &[aria-expanded="false"] label:after {
        content: '+';
      }
      &[aria-expanded="true"] label:after {
        content: '-';
      }
      &.disabled>* {
        color: #333;
        cursor: pointer;
      }
    }
    input.radio-item {
      display: none;
    }
  }

  &.mulit-tier-selected {
    .dropdown {
      input.search {
        &::placeholder {
          color: #333;
        }
        &:focus {
          &::placeholder {
            color: #fff;
          }
        }
      }
    }
  }

  .dropdown-content {
    width: 100%;
    max-height: 400px;
    overflow: auto;
    text-align: left;
    box-sizing: border-box;
    z-index: 300;
    .node {
      padding: 0;
      > label {
        width: 100%;
        display: block;
        white-space: normal;
        padding: 4px;
      }
      &:hover {
        background-color: #f3f3f3;
      }
    }
  }
}
